<header class="main-header">
  <nav class="nav container">
    <a href="#">
      <img src="/assets/Img/logo.svg" alt="" />
    </a>
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>
    <ul class="list nav__list">
      <li class="nav__item"><a>پشتیبانی</a></li>
      <li class="nav__item"><a>خدمات کسب و کارها</a></li>
      <li class="nav__item"><a>فرصت های شغلی</a></li>
      <li class="nav__item"><a>وبلاگ</a></li>
      <li class="nav__item cta">
        <a href="#" class="btn btn--primary btn-block">دانلود تپسی</a>
      </li>
    </ul>
  </nav>
</header>
<script src="/js/app.js"></script>
